@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  min-height: 100vh; /* Ensures the background covers the full viewport height */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

.headerSpacer {
  height: 120px;
}
